# Copy this file to .env on the VM (in the repo root) and fill in real values.
# NEVER commit the real .env file -- it's in .gitignore.

HF_TOKEN=

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1554713406068625458/EMF4OqgK9XASAeo9zkR2u_jgF-Lh9uEkmeEkzvK-NFS8hduUovitjVCXYUM-8g-F6Jue
CPU_THRESHOLD_PCT=80
MEM_THRESHOLD_PCT=80
